@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Consolas);

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #ffffff !important;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2vw;
    height: 2em;
    padding-right: 2%;
    vertical-align: middle;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: .5%;
    padding-bottom: .5%;
}

#btnCV {
    border: none;
    background-color: #ffaa00b9;
    display: inline-block;
    font-family: Poppins;
    /* font-size: 1.3vw; */
    font-size: 15px;
    border-radius: 0.25vw;
}

#btnCV:hover {
    background-color: #ffaa00;
}


@media only screen and (max-width: 600px) {
    nav {
        font-size: 14px;
        height: 30px;
    }

    .initial {
        margin-top: 50px;
    }
}

nav a {
    margin-right: 3%;
    padding: .5%;
    color: #414141;

}

nav a:hover {
    text-decoration: underline #ffaa00;
}

nav a:active,
a {
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.initial {
    background: no-repeat fixed center;
    background-image: url(/figures/lukas-blazek-GnvurwJsKaY-unsplash.jpg);
    background-size: cover;
}

main #mainPage {
    position: relative;
    /* background-color: #0b1333; */
    text-align: right;
    height: 35vw;
    top: 50%;
}

.transBox {
    background-color: rgba(34, 49, 63, 0.295);
    position: absolute;
    top: 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 78%;
}

.myself {
    padding-top: 6.5%;
    padding-right: 5%;
    display: inline-block;
}

main p {
    color: black;
    line-height: 50%;
}

main #hello {
    float: left;
    font-size: 4vw;
    margin-top: .3%;
    margin-left: 25%;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.2rem;
    font-family: consolas;
    font-weight: 700;
}


#line {
    display: inline-block;
    position: relative;
    top: 85%;
    width: 50%;
}

#Iam {
    position: relative;
    font-size: 2.5vw;
    color: #000000;
}

#Ana {
    font-size: 4.2vw;
    font-weight: bolder;
    color: #ffffff;
    letter-spacing: 0.1em;

}

#dev {
    display: inline-block;
    font-family: Consolas;
    font-size: 1.7vw;
    color: #ffaa00;
    font-weight: 500;
    padding: .5em;
    letter-spacing: 0.15em;
    background-color: #000000;
}

.social {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
    border: none;
    width: 100%;
}

.social img {
    margin-left: 3%;
    margin-right: 3%;
    width: 5%;
    vertical-align: middle;
}

/* back color main */
main,
#s2 {
    background-color: #C4C1BA;
}

main.content {
    width: 100%;
}

main {
    padding-bottom: 10%;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.content p {
    line-height: 1.7em;
}

#About {
    font-size: .95rem;
    width: 60%;
    /* background-color: #26606B; */
    /* background-color: #a3a3a370; */
    padding: 1%;
}

#aboutMe {
    display: inline-block;
    position: relative;
    padding-bottom: 0;
}

/* portrait */
#myPic {
    border: solid 1px;
    width: 20%;
    position: absolute;
    left: 60%;
    top: 40%;
    height: 50%;
}

h1 {
    font-size: 3vw !important;
}

#Contact p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.3rem;
    line-height: 2em;
}

#s2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}


#s2 img {
    width: 3%;
    margin-right: 2%;
    margin-left: 2%;
    vertical-align: middle;
}

#form {
    background-color: #978E80;
    width: 30%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding: 4%;
    border-radius: 2%;
    border: none;
}

#form p {
    color: #ffffff;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 0.8em;
    margin-left: 6%;
}

#btnSend {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 2em;
    height: 1.4em;
}

textarea {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: min-content;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}

#btnSend {
    background-color: #C4C4C4;
    color: #000000;
    border: none;
    font-size: 1.9vw;
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: .5rem;
    letter-spacing: .2rem;
    font-family: consolas;
    text-transform: uppercase;
}

#btnSend:hover {
    color: rgb(110, 110, 110);
}