@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Consolas);

body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

header{
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
    height: 2rem;
    padding-right: 110px;
    
    
}
#btnCV{
    border: none;
    background-color: #ffaa00b9;
    display: inline-block;
    font-family: Poppins;
    position: absolute;
    top: 0.3rem;
    font-size: 18px;
    border-radius: 3px;
}
#btnCV:hover{
    background-color: #ffaa00;
}

nav a{
    margin-right: 30px;
    padding: 2px;
    color: #414141;
}

nav a:hover {
    text-decoration: underline #ffaa00;
}

nav a:active, a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.initial{
    background-image: url(/figures/lukas-blazek-GnvurwJsKaY-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
main #mainPage{
    position: relative;
    /* background-color: #0b1333; */
    text-align: right;
    height: 450px;  
    top: 50%;   
}

.transBox{ 
    background-color: rgba(34, 49, 63, 0.295);
    position: relative;
    top:30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 85%;
}
.myself{
    padding: 50px;
    display: inline-block;
}
main p{
    color: black;
    line-height: 50%;  
}
main #hello{
    float: left;
    font-size: 50px;
    margin-top: 1%;
    margin-left:  14%;
    font-weight: 500;
    color: #000000  ;
    letter-spacing: 0.2rem;
    font-family: consolas;
    font-weight: 700;
}

/* #nbk{
    position: absolute;
    bottom:-20px;
    left:-20px;
    float: left;   
    display: none;
} */
#line{
    display: inline-block;
}

#Iam {
    font-size: 32px;
    margin-top: 3rem;
    color: #000000;
}

#Ana{
    font-size: 52px;
    font-weight: bolder;
    color: #ffffff;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
}

#dev{
    display:inline-block;
    font-family: consolas;
    font-size: 25px;
    color: #ffaa00;
    font-weight: 500;
    padding: 1rem;
    letter-spacing: 0.15rem;
    background-color: #000000;
}

.social{
    padding-top: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 60px;
    position: relative;
    background-color: #ffffff;
    border: none;
}

.social img{
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.social a:hover img
{
    height: 60px;
}

main.content{
    width: 100%;
}
.content{
    /* background-color: rgb(255, 208, 0); */
    
    padding-left: 10%; 
    padding-right: 10%;
    
}
.content p{
    line-height: 160%;
}
#About{
    font-size: 15px;
    width: 55%;
    background-color: #104e50c9;
    /* background-color: #a3a3a370; */
    padding: 2%;
    border-radius: 10px; 
}


#aboutMe{ 
    display: inline-block;
    position: relative;
    padding-bottom: 0;
}
/* portrait */
#myPic{
    border: solid 1px;
    width: 20%;
    position: absolute;
    left: 60%;
    top: 40%;
    height: 50%;
}

h1{
    font-size: 40px;
}

#Contact p{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.s2 img{
    height: 30px;
}

.s2 a:hover img{
    height: 31px;
}

#form{
    background-color: teal;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding: 4%;
    border-radius: 2%;
    border: none;
    
}
#form p{
    color: #ffffff;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 15px;
}
#btnSend{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input{
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 20px;
    height: 1.2rem;
}


textarea{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    height: auto;
    border: none;
    border-radius: 10px;
}


